/* ---------------
google fonts
------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*--------------------------------
 Common css styles
 ----------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #6c6c6c;
  font-family: "Poppins", sans-serif;
}
section {
  margin-top: 50px;
}
.container {
  /* margin-top: 50px; */
  width: 1050px;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.link-button {
  display: flex;
  width: 168px;
  background-color: #e02c6d;
  color: #ffffff;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: relative;
  animation: player 5s infinite;
}

/*--------------------------------
 Header styles
 ----------------------------------------------- */
header {
  /* width: 1440px; */
  background-color: #2d25a0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 80px;
  animation: example 5s infinite;
}
/* Animation */
@keyframes example {
  from {
    background-color: #2d25a0;
  }
  to {
    background-color: rgb(0, 204, 255);
  }
}
/*--------------------------------
 Bannerr styles
 ----------------------------------------------- */
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 102px;
  align-items: center;
}

.banner-title {
  max-width: 485px;
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 27px;
}

.banner-img {
  max-width: 556px;
}
.banner-img img {
  width: 100%;
  transition: transform 1s;
}
.banner:hover img {
  transform: rotate(40deg);
}

/* main  css styles */
main {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*--------------------------------
 players styles
 ----------------------------------------------- */
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
}
.player {
  width: 330px;
  padding: 15px 15px 33px 15px;
  box-shadow: 1px 7px 11px;
}
.player img {
  width: 100%;
}
.player-name {
  color: #18191f;
  font-size: 28px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 10px;
}
/* ------------------------
Live watch css style 
---------------------------------------------------*/
.live-watch {
  background-color: rgb(41 53 199 / 73%);
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-top: 50px;
}
.section-title {
  text-align: center;
  font-weight: 700;
  position: relative;
  animation: moving 3s infinite;
}
.video {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
/*--------------------------------
 Top Rated players styles
 ----------------------------------------------- */
.top-plyayer-title {
  position: relative;
  animation: moving 3s infinite;
  color: red;
}
.top-rated-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-column-gap: 30px;
  margin: 30px 0;
}

.top-rated-player {
  width: 330px;
  position: relative;
}
/* animation */
@keyframes player {
  0% {
    left: 0;
    right: 0;
  }
  50% {
    left: 30px;
    right: 30px;
  }
  100% {
    left: 0;
    right: 0;
  }
}
@keyframes moving {
  0% {
    top: 0;
    bottom: 0;
  }
  50% {
    top: 10px;
    bottom: 10px;
  }
  100% {
    top: 0;
    bottom: 0;
  }
}

.top-rated-player img {
  width: 100%;
}

.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  color: #ffffff;
  background-color: #008cba;
  overflow: hidden;
  transition: 0.5s ease;
}
.top-rated-player:hover .overlay {
  bottom: 0;
  height: 100%;
}
/*--------------------------------
 Footer styles
 ----------------------------------------------- */
footer {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.footer-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-content img {
  width: 483.87px;
  height: 110px;
}
.footer-content .social-icon {
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-content .social-icon i {
  background-color: #c4c5c7;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
}
.footer-content p {
  font-size: 18px;
}
/* --------------------------
CSS Media Queries
--------------------- */
/* ---------------------
mobile device ----------------------*/
@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .banner,
  .players,
  .top-rated-players {
    grid-template-columns: repeat(1, 1fr);
  }
  .banner-title {
    width: 278px;
    font-size: 36px;
  }
  .banner-img {
    width: 329px;
    height: 260px;
    margin-top: 50px;
  }
  .banner-img img {
    width: 100%;
  }
  .players {
    justify-items: center;
  }
  .top-rated-player {
    margin-bottom: 20px;
  }

  iframe {
    width: 100%;
  }
  .footer-content {
    width: 484px;
    height: 213px;
    padding: 50px;
  }
  .footer-content img {
    width: 100%;
  }
}
/* ------------------
Tablet Device -----------------------*/
@media only screen and (min-width: 689px) and (max-width: 991px) {
  .container {
    width: 100%;
  }
  .banner,
  .players,
  .top-rated-players {
    grid-template-columns: repeat(2, 1fr);
  }
  .banner-title {
    width: 278px;
    font-size: 36px;
  }
  .banner-img {
    width: 329px;
    height: 260px;
    margin-top: 50px;
  }
  .banner-img img {
    width: 100%;
  }
  .players {
    justify-items: center;
  }
}
